html{
    width: 100%;
    height: 100%;
}
#main-container{
    height: 100%
}
.main-content{
    height: 100%;
}
.main-content-inner{
    height: 100%;
}
#mainContent{
    height: 96%;
    padding: 0px;
    overflow: hidden;
}
#mainContent > div{
    height: 100%;
}
iframe{
    height: 100%;
}